BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp11

ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
PointerAlignment: Left

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

SortIncludes: true
ReflowComments: false
